<div class="container">
    <h2 class="title">Habitaciones Reservadas</h2>
    <table class="custom-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha de Entrada</th>
                <th>Fecha de Salida</th>
                <th>Habitaciones</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="reserva" class="table-row">
                <td>1</td>
                <td>{{ reserva.fecha_entrada | date: 'dd/MM/yyyy' }}</td>
                <td>{{ reserva.fecha_salida | date: 'dd/MM/yyyy' }}</td>
                <td>{{ reserva.id_habitacion }}</td>
                <td>{{ reserva.estado }}</td>
                <td>
                    <button class="btn" (click)="abrirModal(reserva)">
                        <i class="fas fa-info-circle"></i> Mostrar Detalles
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="cerrarModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de Habitación</h5>
                <span class="close" (click)="cerrarModal()">&times;</span>
            </div>
            <div class="modal-body">
                <p><strong>Fecha de Entrada:</strong> {{ habitacionSeleccionada?.fecha_entrada | date: 'dd/MM/yyyy'}}</p>
                <p><strong>Fecha de Salida:</strong> {{ habitacionSeleccionada?.fecha_salida | date: 'dd/MM/yyyy'  }}</p>
                <p><strong>Habitacion:</strong> {{ habitacionSeleccionada?.id_habitacion }}</p>
                <p><strong>Estado:</strong> {{ habitacionSeleccionada?.estado }}</p>
            </div>
            <div class="modal-footer">
                <button class="btn" (click)="cerrarModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
